AUTH_PORT=8081
EVENT_PORT=8082
REGISTRATION_PORT=8083
NOTIFICATION_PORT=8084
DB_PORT=5433

POSTGRES_DB=event_management
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

JWT_SECRET=SuperSecretSuperSecretSuperSecret123456
JWT_EXPIRATION_DAYS=7
SERVICE_TOKEN=SuperDuperServiceTokenKey

EVENT_SERVICE_URL=http://event-service:8082
REGISTRATION_SERVICE_URL=http://registration-service:8083
NOTIFICATION_SERVICE_URL=http://notification-service:8084
